/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*General Styles*/

* {
    border: 2px solid red !important;
}

html {
    font-size:62.5%;
}

body {
    line-height: 1.5;
    font-size: 1.5rem;
    font-family: 'Questrial', sans-serif;
}

/*Header*/

h1, h2, h3, h4, h5 {
    font-family: 'Julius Sans One', sans-serif;
}

#header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

h2 {
    width: 70%;
    font-size: 5rem;
    padding: 0 1%;
}

#nav {
    width: 30%;
    display: flex;
    font-size: 2rem;
    justify-content: space-around;
    align-items: center;
}

#nav a {
    text-decoration: none;
    color: black;
}

/*Intro*/

#intro {
    height:70vh;
    background-color:white;
    background-image:url("https://images.unsplash.com/photo-1468070454955-c5b6932bd08d?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 10rem;
}

.projects-button {
    color: black;
    background-color: white;
}



/*Projects*/

/*flex-wrap: wrap;*/

/*Footer*/